<div align="center">
  <td><%= image_tag 'top2.jpg', :id => "top_icon_3" %></td>
</div>


<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>待遇</td>
      </tr>
    </table>
  </div>
</div>

<br>
<br>

<div align="center">
  <div class="banner">
    <table>
      <tr>
        <th></th>
        <td><%= image_tag 'roger.jpg' %></td>
      </tr>
    </table>
  </div>
</div>

<div align="center">
  <div class="banner">
    <table>
      <tr>
        <th></th>
        <td><%= image_tag 'richrd.jpg' %></td>
      </tr>
    </table>
  </div>
</div>
