<div align="center">
  <%= image_tag 'top2.jpg', id: 'top_icon_5' %>
</div>

<div align="center">
  <div class="container-fluid">
    <div class="taitle">
      <div class="row">
        <div class="col-md-12 col-xs-12">入店までの流れ</div>
      </div>
    </div>
  </div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>
<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>
<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>
<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="container-fluid">
  <div class="content_1 sampleRow">

    <div class="row">
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-10 col-xs-10">
        当店の受付電話番号
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-xs-2 number">1</div>
      <div class="col-md-10 col-xs-10">
        (03-5428-0655)に直接お電話をいただくか
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-xs-2 "></div>
      <div class="col-md-10 col-xs-10">
        LINE・メール又は応募フォームにてご連絡下さい。
      </div>
    </div>

  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <div class="content_1 sampleRow">
    <div class="row">
      <div class="col-md-2 col-xs-2 number">2</div>
      <div class="col-md-10 col-xs-10">
        ご連絡を取り合い、写真撮影を行った後
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-10 col-xs-10">
        弊社にて面接を行います。
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <div class="content_1 sampleRow">
    <div class="row">
      <div class="col-md-2 col-xs-2 "></div>
      <div class="col-md-10 col-xs-10">
        面接後、ご希望日に体験入店を実施していきます。
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-2 number">3</div>
      <div class="col-md-10 col-xs-10">
        その際、ホームページ掲載用の写真を弊社のスタジオにてプロのカメラマンに撮影をしてもらいます。
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-2 "></div>
      <div class="col-md-10 col-xs-10">
        ※撮影方法は、貴女の希望に踏まえて撮影できます。
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-2 "></div>
      <div class="col-md-10 col-xs-10">
        (例：顔を一切写さずの撮影など)詳細はご相談させて頂けたらと思います。
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <div class="content_1 sampleRow">
    <div class="row">
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-10 col-xs-10">
        入店後は貴女のスケジュールに合わせて
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-2 number">4</div>
      <div class="col-md-10 col-xs-10">
        出勤予定日を当店まで
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-2"></div>
      <div class="col-md-10 col-xs-10">
        ご提出して頂けたらと思います。
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
