<div align="center">
  <div class="banner">
    <div class="row">
      <div class="col-md-12 col-xs-12"><%= image_tag 'richrd.jpg' %></div>
    </div>
  </div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-12 col-xs-12">　高級店ならではの業界トップクラスのバック料金！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　お給料はもちろん、お客様の質・スタッフの対応、働きやすさ、</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　全てにおいてNo.1！</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-12 col-xs-12">　当店は名古屋で1番の高級店です。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　名古屋トップクラスだからこその驚きの高待遇！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　働きやすい環境であなたをお出迎え致します。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　高級店だからこそ女の子を大切に考え、過剰なプレイ等を求めない！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　※当店は高級店でありがちなハードなサービスは全くありません。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　※通常のデリバリーヘルスでソフトなサービスになります。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　お客様も高級店だからこそ、</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　とても綺麗にお遊びされる紳士な方ばかりです。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　安心して働いていただけます。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　そして当店は夢のある女の子を応援いたします。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　当店は女の子1人1人と真剣に向き合いあなたの夢を叶えます！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　このお仕事をやる以上は目標を達成しなければ意味がありません！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　貴方の環境を第一に考えます。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　先ずは当店の【待遇】【お客様の質】【働きやすさ】</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　を是非実感して下さい。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　・給与　応相談</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　詳しくはお問い合わせ下さい。</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-12 col-xs-12">　リシャールは頑張る女性を応援いたします！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　リシャールで貴女の夢を実現してください！！！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　リシャールは名古屋で１番の高級店です。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　高級店だからこそできる高収入であなたの夢の実現！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　目標を一日も早く達成してください！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　またリシャールは女の子の働きやすい環境を</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　何より一番に考えておりますので</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　経験問わず安心して働けます。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　現在、オープニングスタッフを積極的に募集しております。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　お問合せは24H可能！</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　面接は随時行っております。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　いつでもお気軽に、まずはお問い合わせください。</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-xs-12">　【LINE ID:nagoya.f.g】</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　店名</div>
    <div class="col-md-3 col-xs-3">RICHARD</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center">

  <div class="row essential-5">
    <div class="col-md-3 col-xs-4">　職種</div>
    <div class="col-md-3 col-xs-3">デリヘル</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　勤務地</div>
    <div class="col-md-3 col-xs-4">名古屋駅・中村・西区</div>
    <div class="col-md-6 col-xs-3"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　住所</div>
    <div class="col-md-3 col-xs-4">愛知県名古屋市中区</div>
    <div class="col-md-6 col-xs-4"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　地区・最寄駅</div>
    <div class="col-md-6 col-xs-8">地下鉄名城線矢場駅地下鉄・JR鶴舞線鶴舞駅</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div align="center" class="essential-5">

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　電話番号</div>
    <div class="col-md-3 col-xs-3">052-685-0112</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　受付時間</div>
    <div class="col-md-3 col-xs-4">365日　24時間対応</div>
    <div class="col-md-6 col-xs-4"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　担当者</div>
    <div class="col-md-3 col-xs-3">採用担当</div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　ヘブンネット掲載中</div>
    <div class="col-md-9 col-xs-8"><%= link_to 'http://www.cityheaven.net/t/richard_n/(RICHARD)', 'http://www.cityheaven.net/t/richard_n/' %></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　メールアドレス</div>
    <div class="col-md-3 col-xs-3"><%= mail_to 'roger9762@icloud.com' %></div>
    <div class="col-md-6 col-xs-5"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center">
  <%= link_to '戻る', :back, id: 'back' %>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>
