<div align="center">
  <td><%= image_tag 'top2.jpg', :id => "top_icon_4" %></td>
</div>

<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>募集要項</td>
      </tr>
    </table>
  </div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　職種</div>
    <div class="col-md-9 col-xs-8">高級デリバリーヘルスコンパニオン</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center">

  <div class="row essential-5">
    <div class="col-md-3 col-xs-4">　給与</div>
    <div class="col-md-9 col-xs-8">各店舗の待遇ページをご確認下さい</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　勤務体系</div>
    <div class="col-md-3 col-xs-4">完全自由出勤制</div>
    <div class="col-md-6 col-xs-3"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>

</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row">
    <div class="col-md-3 col-xs-4">　応募資格</div>
    <div class="col-md-9 col-xs-8">[年齢]　18歳〜　　(高校生不可)</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">基本的なマナー・敬語の話せる方</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">※業界の経験は問いません</div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row border">
    <div class="col-md-12 col-xs-12"></div>
  </div>
</div>

<div align="center" class="essential-5">
  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　勤務日時</div>
    <div class="col-md-6 col-xs-8">勤務時間</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">365日お昼12:00~翌3:00の間でお好きな時間</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">1日人数限定の接客OK</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">1日75minの接客のみOK</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">※負担の無い自由なスタイルで大丈夫です。</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">完全自由出勤</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">レギュラー出勤</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">短期</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">1日体験可能</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">出稼ぎ</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">休日のみ・仕事帰りなど空いた時間に！！</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">合ったスタイルで時間に縛られる事なくお好</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-6 col-xs-8">きな日時に出勤可能です。</div>
    <div class="col-md-3 col-xs-0"></div>
  </div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row border">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center" class="essential-5">

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row space">
    <div class="col-md-12 col-xs-12"></div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　環境</div>
    <div class="col-md-9 col-xs-8">・ご自身に合った自由なスタイルで最高の</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">　環境を実感していただけます。</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・送迎などキャスト通しの顔合わせなし</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・NGエリア指定OK</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・罰金なし</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・ノルマなし</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・未経験の方でも安心</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">（当店は未経験の女性が多いです）</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・顧客管理システム導入</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・100%日払い</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・保険制度あり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・アリバイ対策あり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・寮、デザイナーズマンションあり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・託児所あり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・送迎あり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・交通費支給</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・個室、自宅待機OK</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・生理休暇あり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・お部屋まで男性スタッフが同行</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">・出張面接あり</div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-4">　</div>
    <div class="col-md-9 col-xs-8">※その他なんでもご相談に乗ります。</div>
  </div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row border">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div align="center">
  <%= link_to '戻る', :back, id: 'back' %>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>

<div class="row space">
  <div class="col-md-12 col-xs-12"></div>
</div>
