<div align="center">
  <td><%= image_tag 'top2.jpg', :id => "top_icon_4" %></td>
</div>

<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>募集要項</td>
      </tr>
    </table>
  </div>
</div>

<br>
<br>
<br>
<br>
<div class="essential">
  <table>
    <tr>
      <td>　　職種</td>
      <td><font color=#000000>　k　　　　　</font></td>
      <td>高級デリバリーヘルスコンパニオン</td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="essential">
  <table>
    <tr>
      <td>　　給与</td>
      <td><font color=#000000>　k　　　　　</font></td>
      <td>各店舗の待遇ページをご確認下さい</td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="essential">
  <table>
    <tr>
      <td>　　勤務体系</td>
      <td>　　　　　</td>
      <td>完全自由出勤制</td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="essential">
  <table>
    <tr>
      <td>　　応募資格</td>
      <td>　　　　　</td>
      <td>
        [年齢]　18歳〜　　(高校生不可)
        <br>
        基本的なマナー・敬語の話せる方
        <br>
        ※業界の経験は問いません
      </td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="essential-1">
  <table>
    <tr>
      <td>　　勤務日時</td>
      <td>　　　　　</td>
      <td>
        勤務時間
        <br>
        365日お昼12:00~翌3:00の間でお好きな時間
        <br>
        1日人数限定の接客OK
        <br>
        1日75minの接客のみOK
        <br>
        ※負担の無い自由なスタイルで大丈夫です。
        <br>
        <br>
        完全自由出勤
        <br>
        レギュラー出勤
        <br>
        短期
        <br>
        1日体験可能
        <br>
        出稼ぎ
        <br>
        休日のみ・仕事帰りなど空いた時間に！！
        <br>
        ※完全自由出勤制とにかく負担のない貴方に
        <br>
        合ったスタイルで時間に縛られる事なくお好
        <br>
        きな日時に出勤可能です。
      </td>
    </tr>
  </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="essential-4">
  <table>
    <tr>
      <td>　　環境</td>
      <td><font color=#000000>　k　　　　　</font></td>
      <td>
        ・ご自身に合った自由なスタイルで最高の
        <br>
        　環境を実感していただけます。
        <br>
        ・送迎などキャスト通しの顔合わせなし
        <br>
        ・NGエリア指定OK
        <br>
        ・罰金なし
        <br>
        ・ノルマなし
        <br>
        ・未経験の方でも安心
        <br>
        （当店は未経験の女性が多いです）
        <br>
        ・顧客管理システム導入
        <br>
        ・100%日払い
        <br>
        ・保険制度あり
        <br>
        ・アリバイ対策あり
        <br>
        ・寮、デザイナーズマンションあり
        <br>
        ・託児所あり
        <br>
        ・送迎あり
        <br>
        ・交通費支給
        <br>
        ・個室、自宅待機OK
        <br>
        ・生理休暇あり
        <br>
        ・お部屋まで男性スタッフが同行
        <br>
        ・出張面接あり
        <br>
        <br>
        ※その他なんでもご相談に乗ります。
      </td>
    </tr>
  </table>
</div>
<br>
<br>
