<div class="top">
  <%= image_tag 'top.jpg', :id => "top_icon" %>
</div>

<br>
<br>
<br>
<br>
<div class="row thanks_page">
  <div class="col-md-2 col-xs-2 "></div>
  <div class="col-md-8 col-xs-8">お問い合わせありがとうございました。</div>
  <div class="col-md-2 col-xs-2"></div>
</div>

<div class="row thanks_page">
  <div class="col-md-2 col-xs-2 "></div>
  <div class="col-md-8 col-xs-8">担当者より改めてご連絡いたします。</div>
  <div class="col-md-2 col-xs-2"></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
