<div class="top_2">
  <%= image_tag 'top2.jpg', :id => "top_icon_2" %></td>
</div>
<div align="center">
  <div class="taitle">
    <table>
      <tr>
        <th></th>
        <td>CONCEPT</td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="concepts">
  <div class="row">
    <div class="col-md-3 col-xs-3 title">ごあいさつ</div>
    <div class="col-md-9 col-xs-9"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-11 col-xs-11">数ある中から</div>
  </div>
  <br>
  <br>
</div>
<br>
<div class="concepts">
  <div class="row">
    <div class="col-md-3 col-xs-3 title">質の良さ</div>
    <div class="col-md-9 col-xs-9"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-11 col-xs-11">数ある中から</div>
  </div>
  <br>
  <br>
</div>
<br>
<div class="concepts">
  <div class="row">
    <div class="col-md-3 col-xs-3 title">接客について</div>
    <div class="col-md-9 col-xs-9"></div>
  </div>
  <div class="row">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-11 col-xs-11">数ある中から</div>
  </div>
  <br>
  <br>
</div>

<br>
<br>
