// Place all the styles related to the requirements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.essential {
  font-size: 200%;
  height: 200px;
  font-family: "serif";
  color: #C0C0C0;
  border-bottom: solid 0.5px #C0C0C0;
  border-collapse: separate;
}

.essential-1 {
  font-size: 200%;
  height: 800px;
  font-family: "serif";
  color: #C0C0C0;
  border-bottom: solid 0.5px #C0C0C0;
  border-collapse: separate;
}

.essential-2 {
  font-size: 200%;
  height: 700px;
  font-family: "serif";
  color: #C0C0C0;
  border-bottom: solid 0.5px #C0C0C0;
  border-collapse: separate;
}

.essential-4 {
  font-size: 200%;
  height: 1000px;
  font-family: "serif";
  color: #C0C0C0;
  border-bottom: solid 0.5px #C0C0C0;
  border-collapse: separate;
}

.essential-3 {
  text-align: left;
  font-size: 200%;
  font-family: "serif";
  color: #C0C0C0;
  border-bottom: solid 0.5px #C0C0C0;
  border-collapse: separate;
}

.essential-5 {
  text-align: left;
  font-size: 200%;
  font-family: "serif";
  color: #C0C0C0;
}

.border {
  height: 0.5px;
  border:none;
  border-bottom: solid 0.5px #C0C0C0;
  border-collapse: separate;
}

#top_icon_4{
  height: auto;
  max-width: 100%;
}
