// Place all the styles related to the treatments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  display: block;
  background-color: #000000;
  height: 300px;
  border-collapse: collapse;
}

table.banner td a {
  display: block;
}

#top_icon_3{
  height: auto;
  max-width: 100%;
}

#roger{
  height: auto;
  max-width: 300%;
}
